footer
  .container.text-center
    p.float-left © 2020 Teemo. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/samuelopra/teemo') GitHub Project
      li.list-inline-item
        a(href='https://github.com/samuelopra/teemo/issues') Issues
