extends ../layout

block content
  h1 Create a team
  form
    .form-group
      label(for='exampleFormControlInput1') Team name
      input#exampleFormControlInput1.form-control(type='team_name' placeholder='Tune Squad')
    .form-group
      label(for='exampleFormControlSelect1') Team Category
      select#exampleFormControlSelect1.form-control
        option 1
        option 2
        option 3
        option 4
        option 5
    .form-group
      label(for='exampleFormControlSelect2') Team Members
      input#exampleFormControlSelect2(type='text' placeholder='Team Mate')
      ul#theList
        .row
          each member in members
            li.list-unstyled.col-lg-6.mb-4.col-md-12.mb-md-4
              include partials/member
              hr
    .form-group
      label(for='privacyOption') Privacy textarea
      .form-check
        input#inlineRadio1.form-check-input(type='radio' name='inlineRadioOptions' value='option1' checked)
        label.form-check-label(for='inlineRadio1') Public
      .form-check
        input#inlineRadio2.form-check-input(type='radio' name='inlineRadioOptions' value='option2')
        label.form-check-label(for='inlineRadio2') Private
      .form-group
        a(href="/teams/1")
          button.btn.btn-primary.ml-auto.mr-auto(type="button") Create!